.formContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px 0;
}

.searchForm {
  position: relative;
}

.searchInput {
  width: 40vw;
  padding: 10px 20px;
  border-radius: 10px;
  border: 1px solid #e6e6e6;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  font-size: 16px;
  outline: none;
}

.searchInput:focus {
  border-color: #999;
}

.searchIcon {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  width: 20px;
  height: 20px;
}

.errorMessage {
  position: absolute;
  bottom: -35px;
  color: red;
  font-size: 12px;
  margin-top: 5px;
  text-align: left;
}
